<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCmkHykDNnaTYdCPmv50g5wrKnZCL6slc</string>
	<key>GCM_SENDER_ID</key>
	<string>12617616534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inkwell</string>
	<key>PROJECT_ID</key>
	<string>inkwell---note-taking-app</string>
	<key>STORAGE_BUCKET</key>
	<string>inkwell---note-taking-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12617616534:ios:9a72bf3e106b5db71b06b7</string>
</dict>
</plist>